#LoginScreen {
    .content-wrapper {
        padding: 20px 30px;
    }
    
    .login_page_middle {
        margin-top: 10% !important;

        .center-margin {
            margin: 0 auto;
            opacity: 0.9;
            overflow: hidden;
            vertical-align: middle;
            float: none;
            background: #fff;
            border-radius: 3px;

            .content-box {
                border-radius: 3px !important;
                border-color: #dfe8f1;
                box-shadow: 0 5px 15px rgba(0,0,0,.5);
                background-clip: padding-box;
                margin-bottom: 20px;

                .bg-default.content-box-header {
                    border-color: rgb(223, 232, 241);
                }

                .content-box-header {
                    border-color: rgb(223, 232, 241);
                    margin: -1px -1px 0px;
                    padding: 15px;
                    text-transform: uppercase;
                    font-size: 14px;
                    border-width: 1px;
                    border-style: solid;
                    position: relative;
                    color: rgb(85, 90, 96);
                    background-color: rgb(254, 254, 255);
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                    &::before {
                        display: table;
                        content: "";
                    }

                    .login_logo_img {
                        width: auto;
                    }

                    .header-row {
                        display: flex;
                        align-items: center;
                    }

                    .header-buttons {
                        height: 100%;
                        display: block;
                        float: right;

                        .sign_up_btn {
                            color: #fff !important;

                            &:hover {
                                color: #fff !important;
                            }
                        }
                    }
                }

                .content-box-header-alt {
                    padding: 10px 10px 14px;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                
                .content-box-wrapper {
                    line-height: 1.6em;
                    padding: 15px;

                    .forget_pass {

                         a {
                            color: #8da0aa !important;
                            font-size: 13px;

                            &:hover {
                                cursor: pointer;
                                color: #1c82e1 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-content {
        background: none repeat scroll 0 0 #fff;
        background: transparent;
        border: none;
        box-shadow: none;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 20px 0;

        a {
            color: #333;
        }

        h3 {
            border-bottom: 1px solid #6c6c6c;
            padding-bottom: 7px;
            color: #878687;
            font-size: 16px;
        }

        .form-inline {
            float: left;
            margin: 0px 10px 0px 0;
        }
    }

    .btn-primary {
        background: rgb(0, 188, 164);
        color: rgb(255, 255, 255);
        border-color: rgb(0, 167, 146);

        &:hover {
            background: rgb(6, 218, 191) !important;
            color: rgb(255, 255, 255);
            border-color: rgb(0, 167, 146) !important;
            border: 1px solid;
            margin-top: 0 !important;
            box-shadow: none !important;
        }
    }
}